<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Izaberi Template</title>
</head>
<body>
    <h1>Izaberite Template</h1>
    <ul>
        {% for id, template in templates.items() %}
            <li>
                <h3>{{ template.name }} - ${{ template.price }}</h3>
                <a href="{{ url_for('add_to_cart', template_id=id) }}">
                    <button>Dodaj u korpu</button>
                </a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('view_cart') }}">
        <button>Vidi korpu</button>
    </a>
</body>
</html>

